* @Miguel-Fontes @Fuerback @marceljdb @rafaelmagossi @alexandresehnem

/dev/financial @Fuerback @rafaelmagossi
/dev/subscriptions @Fuerback @rafaelmagossi

/prod/financial @alexandresehnem
/prod/subscriptions @alexandresehnem